.dark-mode{
    background-color: darken($grisOscuro, 10); // Aplica una version más oscura del color gris oscuro
    
    p{ // Estilos para los parrafos
        color: $blanco; // Cambia el color del texto a blanco
    }

    a, h1, h2, h3, h4{ // Estilos para los enlaces y los headings
        color: $gris; // Cambia el color del texto a gris
    }

    .anuncio,
    .resumen-propiedad{ // Estilos para los elementos con clase '.anuncio' y '.resumen-propiedad'.
        background-color: $grisOscuro; // Aplica un fondo de color gris oscuro
        border: 1px solid $grisOscuro; // Aplica un borde de 1 pixel solido de color gris oscuro

        .precio{ // Estilos para los elementos con clase '.precio' que se encuentran en '.anuncio'
            color: $verde; // Aplica un color de texto verde
        }

        .icono{ // Estilos para los elementos con clase '.icono' que se encuentran en '.anuncio'
            filter: invert(100%); // Invierte el color de los iconos
        }
    }

    .texto-nosotros blockquote{ // Estilos para los elementos con clase '.texto-nosotros' que se encuentran en '.anuncio'
        color: $blanco; // Aplica un color de texto blanco
    }

    .formulario{ // Estilos para los elementos con clase '.formulario'

        label,
        legend,
        p{ // Estilo para los inputs, legend y parráfos
            color: $gris; // Aplica un color de texto gris
        }

        input:not([type="submit"]), // Para todos los input que no sean submit
        textarea,
        select{
            background-color: $grisOscuro; // Aplica un fondo de color gris oscuro
            border: 1px solid $grisOscuro; // Aplica un borde de 1 pixel solido de color gris oscuro
            color: $blanco; // Aplica un color de texto blanco
        }
    }

    td{
        color: $blanco;
    }

}